<!-- src/app/app.component.html -->
<!-- import {MatInputModule} from '@angular/material/input'; -->

<div class="main">
  <h1>{{ componentTitle }}</h1>
  <h2>What would you like to do today?</h2>

  <!-- <input
    #newItem
    matInput
    placeholder="Add an item"
    class="lg-text-input"
    id="addItemInput"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
  /> -->
  <mat-form-field class="example-full-width">
    <mat-label>Add an item</mat-label>
    <input
      #newItem
      matInput
      value=""
      class="lg-text-input"
      id="addItemInput"
      (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    />
  </mat-form-field>
  <!-- <button class="btn-primary" (click)="addItem(newItem.value)">Add</button> -->
  <section>
    <div class="example-button-row" (click)="addItem(newItem.value)">
      <button mat-button>Add</button>
    </div>
  </section>
  <div class="btn-wrapper">
    <!-- <button
      class="btn btn-menu"
      [class.active]="filter == 'all'"
      (click)="filter = 'all'"
    >
      All
    </button>
    <button
      class="btn btn-menu"
      [class.active]="filter == 'active'"
      (click)="filter = 'active'"
    >
      To-Do
    </button>
    <button
      class="btn btn-menu"
      [class.active]="filter == 'done'"
      (click)="filter = 'done'"
    >
      Done
    </button> -->
  </div>

  <section>
    <mat-button-toggle-group
      name="favoriteColor"
      aria-label="Favorite Color"
      [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()"
    >
      <mat-button-toggle
        value="red"
        [class.active]="filter == 'all'"
        (click)="filter = 'all'"
        >All</mat-button-toggle
      >
      <mat-button-toggle
        value="green"
        [class.active]="filter == 'active'"
        (click)="filter = 'active'"
        >To-do</mat-button-toggle
      >
      <mat-button-toggle
        value="blue"
        [class.active]="filter == 'done'"
        (click)="filter = 'done'"
        >Done</mat-button-toggle
      >
    </mat-button-toggle-group>
  </section>

  <h2>
    {{ items.length }}
    {{ items.length === 1 ? 'item' : 'items' }}
  </h2>

  <ul>
    <li *ngFor="let item of items; trackBy: trackByDescription">
      <app-item [item]="item" (remove)="remove($event)"></app-item>
    </li>
  </ul>
</div>
